html,
body {
	margin:0;
	padding:0;
	font-family:"Trebuchet MS", Georgia, Verdana, serif;
	color:#000;
	background:#dad9da;
}
body {
	min-width:720px;
	text-align:center;
}
h1 {
	padding:0;
	margin:0;
	font-size:16px;
}
#centerwrap {
	width:720px;
	margin:20px auto;
	padding:10px 0;
	text-align:left;
}
#content {
	background:#fff;
	margin:0 10px;
	padding:20px;
	width: 400px;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}

#sidebar{
	float: right;
	width: 210px;
	padding: 20px;
	padding-top: 0px;
	margin-right: 10px;
	color: #4d484e;
	font-size: 15px;
}

#sidebar li{
	font-size: 13px;
}

#sponsor{
	color: #4d484e;
	font-size: 13px;
	border-top: 1px solid #ccc;
	margin-top: 15px;
	padding-top: 15px;
}

.highlight{
	color: #63821a;
}

label{
	color: #515b7f;
	display: block;
}

.QapTcha{
	float: none;
	margin-top: 5px;
}

.QapTcha .Slider {
	background:transparent url('bg_draggable_qaptcha.jpg') no-repeat;
}

.QapTcha .bgSlider {
	background-color: #63821a;
	border-color: #ccc;
}

.help{
	color: #4d484e;
	font-size: 13px;
	display: block;
}

/* This needs to exist for the captcha, but we'll hide it */
#submit{
	display: none;
}

h1{
	text-decoration: underline;
}

h3{
	color: #b03a16;
	border-bottom: 1px solid #ccc;
}

ul{
	padding-left: 15px;
}

li{
	margin-bottom: 5px;
}

textarea{
	width: 400px;
	height: 100px;
}

#results #copy_text{
	width: 520px;
	height: 90px;
}

input {
	width: 400px;
}

textarea, input, select{
	margin-bottom: 15px;
}

#copy_button{
	float: right;
}

#copied, #error{
	display: none;
}

#view_body{
	word-wrap: break-word;
}

.red{
	color: #b03a16;
}

#footer{
	margin-top: 15px;
	margin-left: 10px;
	font-size: 11px;
}